{% comment %}Partial para datos de dirección, usado en formularios de clientes, proyectos, etc.{% endcomment %}
<div class="row">
  <div class="col-md-4 mb-3">
    <label for="tipo_via" class="form-label">Tipo de vía</label>
    <select class="form-select" name="tipo_via" id="tipo_via">
      <option value="">Seleccione tipo</option>
      {% set tipos = ['acceso', 'andador', 'avenida', 'calle', 'callejón', 'camino', 'carretera', 'cno. nuevo', 'cno. viejo', 'glorieta', 'pasaje', 'partida', 'paseo', 'plaza', 'polígono', 'ronda', 'travesía', 'urbanización', 'vía'] %}
      {% for tipo in tipos %}
        <option value="{{ tipo }}" {% if direccion is defined and direccion.tipo_via == tipo %}selected{% endif %}>{{ tipo }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-4 mb-3">
    <label for="nombre_via" class="form-label">Nombre de la vía</label>
    <input type="text" class="form-control" name="nombre_via" id="nombre_via" value="{{ direccion.nombre_via|default('') }}">
  </div>
  <div class="col-md-2 mb-3">
    <label for="numero_via" class="form-label">Número</label>
    <input type="text" class="form-control" name="numero_via" id="numero_via" value="{{ direccion.numero_via|default('') }}">
  </div>
  <div class="col-md-2 mb-3">
    <label for="puerta" class="form-label">Puerta</label>
    <input type="text" class="form-control" name="puerta" id="puerta" value="{{ direccion.puerta|default('') }}">
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="codigo_postal" class="form-label">Código Postal</label>
    <input type="text" class="form-control" name="codigo_postal" id="codigo_postal" value="{{ direccion.codigo_postal|default('') }}">
  </div>
  <div class="col-md-6 mb-3">
    <label for="poblacion" class="form-label">Población</label>
    <input type="text" class="form-control" name="poblacion" id="poblacion" value="{{ direccion.poblacion|default('') }}">
  </div>
</div>
